data/
__pycache__/
src/sc.egg-info/
uv.lock
resources/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.db
*.sqlite
.DS_Store
.env
.env.*
venv/
env/
ENV/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/
.nox/
.pyre/
.pytype/
.pytest_cache/
.ipynb_checkpoints/